<head>
  <meta charset="UTF-8">
    <title>Laravel</title>
      <style media="screen">
          main{
              padding: 50px;
          }
          section{
              padding: 25px;
          }
          .fl{
              float: left;
          }
          #edit{
              margin-right: 10px;
          }

      </style>
</head>
