<head>
  <meta charset="UTF-8">
    <title>Laravel</title>
      <style media="screen">
          main{
              padding: 50px;
          }
          section{
              padding: 25px;
          }
          h2{
              padding-left: 50px;
          }
      </style>
</head>
