<!DOCTYPE html>
<html>
  <% include views/layouts/head.ejs %>
  <body>
      <% include views/layouts/header.ejs %>
      <% include views/layouts/list.ejs %>
      <% include views/layouts/footer.ejs %>
  </body>
</html>
