    .forumsHead{
        font-weight: bold;
        font-size: 2.5em;
        font-family: Arial Narrow, sans-serif;
    }
    
    .forumsSubtitle{
        font-weight: bold;
        font-size: 2em;
        font-family: Arial Narrow, sans-serif;
    }
    
    .forumsPosts{
        font-weight: bold;
        font-size: 1.5em;
        font-family: Arial Narrow, sans-serif;
    }
    
    .well{
       margin: 20px;
       box-shadow: 3px 3px 10px darkgray;
    }
    
    #style-well1{
        background-color: white;
    }
    
    #style-well2{
        background-color: #F2F4F6;
    }
    
    .topic-img{
       height : 150px;
       width  : 200px;
    }
    
    .media-heading{
       padding-bottom: 10px;
       font-size: 1.6em;
       font-weight: bold;
       font-family: Arial Narrow, sans-serif;
    }
    
    .post-body{
       padding-bottom: 10px;
       font-size: 1.3em;
       font-weight: bold;
       font-family: Arial Narrow, sans-serif;
    }
    
    .post-time{
        color: darkgray;
        font-style: italic;
        font-weight: bold;
        font-size: 1.2em;
        font-family: Arial Narrow, sans-serif;
    }
    
    .column3{
        border-left: solid 1px rgba(0, 0, 0, .1);
    }
    
    .avatar-img{
       height : 100px;
       width  : 100px;
       display: block;
       margin-right: auto;
       margin-left: auto;
    }
    
    .name{
       margin-top: 20px;
       text-align: center;
       color: red;
    }
    
    .role{
       text-align: center;
       margin-top: 15px;
       vertical-align: center;
    }
    
    .place{
       margin-top: 15px;
       text-align: center;
       font-weight: bold;
       vertical-align: bottom;
       align: bottom;
    }
    
    .pagination > li > a, .pagination > li > span {
        border-radius: 50% !important;
        margin: 0 5px;
        border: 0 !important;
        font-weight: bold !important;
        font-family: cursive, sans-serif !important;
        color: black !important;
        font-size: 1.1em;
    }
    
    .pagination>li.active>a {
        background: red;
        color: white !important;
     }
     
    .pagination {
        margin: 0;
    }